html {
    font-size: 100px;
}

div {
    font-size: 50px;
}

p {
    font-size: 1.5rem;
}

.p-100 {
    font-size: 100px;
}

.di1 {
    height: 100px;
    width: 800px;
    background-color: red;
}

.di2 {
    height: 50px;
    width: 50%;
    background-color: blue;
}

.di3 {
    height: 1300px;
    width: 1100px;
    background-color: purple;
}

img {
    /* height: 100%; */
    width: 100%;
}

@media (min-width: 700px) and (max-width: 1200px) {
    p {
        color: red;
    }
    
}